<div class="container-fluid">
    <div class="row main-row">
        <div class="col-md-2 sidebar clearfix">
            <!--Sidebar content-->
            <div class="logo"></div>
            <div class="navigation"></div>

            <a href="#/platforms">Platforms</a> &raquo; {{platform.menu.header.listname}}
            <br />
            <br />
        </div>
        <div class="col-md-10" ng-controller="NavigationCtrl" style="height: 100%;">


            <div class="row" style="height: 100%;">

                <div class="col-md-6 game-list-container">
                    <div class="games-list">
                        <ul class="games">

                            <li ng-repeat="game in platform.menu.game" on-finish-render="init()" class="phone-listing clearfix" id="g{{game.oindex}}" data-oindex="{{game.oindex}}" style="background-image: url(img/games/{{platform.menu.header.id}}/Snap/{{game.description | rmbrckts}}.png); background-size: cover; background-position: 50% 50%;">
                                <div class="caption dark-bg"></div>
                                <div class="caption mid-font">{{game.description}}</div>
                                <div class="caption bottom-caption">{{game.genre}} - {{game.year}} - {{game.manufacturer}}</div>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <!--Body content-->
                    <img id="boxSrc" ng-src="{{boxSrc}}" err-src="img/noImg.jpg">
                    <br> {{boxSrc}}
                </div>
            </div>
        </div>
    </div>